.header {
  padding: 1rem 2rem;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-bottom: var(--borderMain);
  margin-bottom: 1rem;
  width: 100%;
}

.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--widthContainer);
  max-width: var(--widthContainer);
}


